---
layout: base
css:
  - "/css/cards.css"
  - "/lib/rainbow-theme.css"
scripts:
  - "/lib/rainbow-custom.min.js"
---
{%- macro article_header(title, subtitle, tag = "h2") %}
<{{ tag }}>
  {{ title }}
  {% if subtitle %}
  <br />
  <span class="subtitle">{{ subtitle }}</span>
  {% endif %}
</{{ tag }}>
{% endmacro -%}

{%- macro article_meta(date, tags) %}
<span class="card-meta">
  {% if date %}
  {{ date | datestr }}
    {% if tags.length > 1 %}
    &ensp; | &ensp;
    {% endif %}
  {% endif %}
  {% if tags.length > 1 %}
    {% for tag in tags %}
      {%- if tag != "article" %}
    <a class="decorated-link">{{ tag }}</a>
      {% endif -%}
    {% endfor %}
  {% endif %}
</span>
{% endmacro -%}

{{ article_header(title, subtitle) }}
{{ article_meta(date, tags) }}
{{ content | safe }}
