---
layout: base
css:
  - "/css/cards.css"
---
{%- macro article_header(title, subtitle, tag = "h2") -%}
<{{ tag }}>
  {{ title }}
  {%- if subtitle %}
  <br />
  <span class="subtitle">{{ subtitle }}</span>
  {% endif -%}
</{{ tag }}>
{%- endmacro -%}

{%- macro article_meta(date, tags, url) -%}
<span class="card-meta">
  {%- if date %}
    {%- if url %}
  <a class="undecorated-link" href="{{ url }}">
    {% endif -%}
  {{ date | datestr }} {%- if tags.length > 1 %}&ensp; | &ensp;{%- endif -%}
    {%- if url %}
  </a>
    {% endif -%}
  {%- endif -%}
  {%- if tags.length > 1 %}
  <div>
    {%- for tag in tags %}
      {%- if tag != "article" %}
    <a class="decorated-link card-tag">{{ tag }}</a>
      {% endif -%}
    {% endfor -%}
  </div>
  {% endif -%}
  {%- if url %}
  <a class="flex-stretch" href="{{ url }}"></a>
  {% endif -%}
</span>
{%- endmacro -%}

{{ article_header(title, subtitle) }}
{{ article_meta(date, tags) }}
{{ content | safe }}
