---
css: []
highlight_languages: []
scripts: []
title:
title_key:
nav_items:
  - ["/", "Blog"]
  - ["/about/", "About"]
description:
tags: []
footer_links:
  - name: GitHub
    icon: /images/github.png
    url: https://github.com/gilzoide/
  - name: LinkedIn
    icon: /images/linkedin.png
    url: https://www.linkedin.com/in/gilzoide/
  - name: Bluesky
    icon: /images/bluesky.png
    url: https://bsky.app/profile/gilzoide-dev.bsky.social
cloudflare_analytics_token: 18393a3602c14f0eb610ae812fdc06fd
---
{%- if title_key -%}
  {%- set title = title_key | i18n -%}
{%- elif not title -%}
  {%- set title = "gilzoide" -%}
{%- endif -%}

{%- macro setup_highlight_css(languages) -%}
  {%- if languages.length > 0 -%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.12.0/styles/github-dark-dimmed.min.css" integrity="sha512-zcatBMvxa7rT7dDklfjauWsfiSFParF+hRfCdf4Zr40/MmA1gkFcBRbop0zMpvYF3FmznYFgcL8wlcuO/GwHoA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css" />
    <link rel="stylesheet" href="{{ "/css/code_highlight.css" | url }}" />
  {%- endif -%}
{%- endmacro -%}

{%- macro setup_highlight_scripts(languages) -%}
  {%- if languages.length > 0 %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.9.0/highlightjs-line-numbers.min.js"></script>
    <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
    {%- for lang in languages -%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.12.0/languages/{{ lang }}.min.js"></script>
    {%- endfor -%}
    <script>
      hljs.addPlugin(new CopyButtonPlugin());
      hljs.highlightAll()
      hljs.initLineNumbersOnLoad()
    </script>
  {%- endif -%}
{%- endmacro -%}

<!DOCTYPE html>
<html {% if locale %}lang="{{ locale }}"{% endif %} {% if direction %}dir="{{ direction }}"{% endif %}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-witdh, initial-scale=1" />
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
    {%- for tag in tags | sort %}
      {%- if tag == 'article' -%}
        <meta property="og:type" content="article" />
      {%- else -%}
        <meta property="article:tag" content="{{ tag }}" />
      {%- endif -%}
    {% endfor -%}
    {%- if description %}
      <meta property="og:description" content="{{ description }}" />
      <meta name="description" content="{{ description }}" />
    {% endif -%}
    <link rel="icon" href="{{ "/images/about-picture.jpg" | url }}" type="image/jpeg" />
    {%- for link in page | all_locale_links %}
      <link rel="alternate" hreflang="{{ link.lang }}" href="{{ link.url }}" />
    {% endfor -%}
    <link rel="stylesheet" href="{{ "/css/base.css" | url }}" />
    {%- for css_url in css -%}
      <link rel="stylesheet" href="{{ css_url | url }}" />
    {%- endfor -%}
    {{ setup_highlight_css(highlight_languages) }}
  </head>
  <body>
    <nav class="main-nav">
      <ul>
        {%- for item_url, item_title in nav_items -%}
          <li><a class="nav-text{% if page.url == item_url | locale_url %} nav-active{% endif %}" href="{{ item_url | locale_url }}">{{ item_title | i18n }}</a></li>
        {%- endfor -%}
        <li class="dropdown-button">
          <button class="nav-icon">
            <img src="{{ "/images/locale-language.png" | url }}" />
          </button>
          <div class="dropdown">
            {%- for link in page | all_locale_links %}
              <a class="nav-text{% if link.active %} nav-active{% endif %}" href="{{ "" if link.active else link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">{{ link.label }}</a>
            {% endfor -%}
          </div>
        </li>
      </ul>
    </nav>

    <div class="justify-center">
      <div class="main-content">
        {{ content | safe }}
      </div>
    </div>

    <div class="flex-stretch"></div>

    <footer class="main-footer justify-center">
      {%- for footer_link in footer_links -%}
        <a href="{{ footer_link.url }}">
          <img src="{{ footer_link.icon | url }}" alt="{{ footer_link.name }}" />
        </a>
      {%- endfor -%}
      <div class="flex-break"></div>
      <p class="main-footer-copyright">Copyright ⓒ {{ year }} Gil Barbosa Reis</p>
    </footer>

    {{ setup_highlight_scripts(highlight_languages) }}
    {%- for script_url in scripts -%}
    <script src="{{ script_url | url }}"></script>
    {%- endfor -%}
    <script src="{{ "/js/dropdown.js" | url }}"></script>

    {%- if cloudflare_analytics_token %}
      <!-- Cloudflare Web Analytics -->
      <script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ cloudflare_analytics_token }}"}'></script>
    {% endif -%}
  </body>
</html>
