---
css: []
highlight_languages: []
scripts: []
nav_items:
  - ["/", "Projects"]
  - ["/blog/", "Blog"]
  - ["/about/", "About"]
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-witdh, initial-scale=1" />
    <title>{% if title %}{{ title }} - {% endif %}gilzoide</title>
    <link rel="icon" href="/images/about-picture.jpg" type="image/jpeg" />
    <link rel="stylesheet" href="/css/base.css" />
    {%- for css_url in css -%}
    <link rel="stylesheet" href="{{ css_url }}" />
    {%- endfor -%}
    {%- if highlight_languages.length > 0 -%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/github-dark-dimmed.min.css" integrity="sha512-zcatBMvxa7rT7dDklfjauWsfiSFParF+hRfCdf4Zr40/MmA1gkFcBRbop0zMpvYF3FmznYFgcL8wlcuO/GwHoA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css" />
    <link rel="stylesheet" href="/css/code_highlight.css" />
    {%- endif -%}
  </head>
  <body>
    <nav class="main-nav">
      <ul>
        {%- for item_url, item_title in nav_items -%}
        <li><a {% if page.url == item_url %}class="nav-active"{% endif -%} href="{{ item_url }}">{{ item_title }}</a></li>
        {%- endfor -%}
      </ul>
    </nav>

    <div class="main-content">
      {{ content | safe }}
    </div>

    <div class="flex-stretch"></div>

    <footer class="main-footer justify-center">
      <a href="https://github.com/gilzoide/">{% include "GitHub-Mark.svg" %}</a>
      <a href="https://twitter.com/gilzoide">{% include "Twitter-Logo.svg" %}</a>
      <a href="https://www.linkedin.com/in/gilzoide/">{% include "LinkedIn-Logo.svg" %}</a>
      <div class="flex-break"></div>
      <p class="main-footer-copyright">Copyright ⓒ 2022 Gil Barbosa Reis</p>
    </footer>

    {%- if highlight_languages.length > 0 %}
    <script src="/lib/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
    <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
      {%- for lang in highlight_languages -%}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/languages/{{ lang }}.min.js"></script>
      {%- endfor -%}
      <script>
        hljs.addPlugin(new CopyButtonPlugin());
        hljs.highlightAll()
        hljs.initLineNumbersOnLoad()
      </script>
    {%- endif -%}
    {%- for script_url in scripts -%}
    <script src="{{ script_url }}"></script>
    {%- endfor -%}
  </body>
</html>
