---
title: gilzoide
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-witdh, initial-scale=1" />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="main-content">
      {{ content | safe }}
    </div>

    <footer class="main-footer">
      Ⓒ 2021 Gil Barbosa Reis
    </footer>
  </body>
</html>
