---
layout: base
---
{% from "sponsor.njk" import sponsor_block %}
{{ content | safe }}
<br/>
<hr class="thin" />
{{ sponsor_block() }}
<hr class="thin" />
<script src="https://giscus.app/client.js"
        data-repo="gilzoide/gilzoide.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyMTQ3MTQ2MTA="
        data-category="General"
        data-category-id="DIC_kwDODMxI8s4Cj22x"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark"
        data-lang="{{ page.lang }}"
        crossorigin="anonymous"
        async>
</script>
