---
title: Game dev/programming tips and experiments
layout: base
css:
  - /css/cards.css
permalink: /
---
{% from "card.njk" import card %}
<div class="justify-center flex-column">
{%- for a in collections.article | reverse -%}
  {%- if page.lang in a.url and not a.data.ignore -%}
  {{ card(a, page.lang, true, "article") }}
  {%- endif %}
{%- endfor -%}
</div>
