{%- macro card_header(title, subtitle) -%}
<h2 class="card-title">
  {{ title }}
  {%- if subtitle %}
    <br />
    <h3 class="card-subtitle">{{ subtitle }}</h3>
  {% endif -%}
</h2>
{%- endmacro -%}

{%- macro card_meta(date, tags, url) -%}
<span class="card-meta">
  {%- if date %}
    {%- if url %}
  <a class="undecorated-link" href="{{ url | url }}">
    {% endif -%}
  {{ date | datestr }} {%- if tags.length > 0 %}&ensp; | &ensp;{%- endif -%}
    {%- if url %}
  </a>
    {% endif -%}
  {%- endif -%}
  {%- if tags.length > 0 %}
  <div>
    {% for tag in tags -%}
    <a class="decorated-link card-tag">{{ tag }}</a>
    {% endfor -%}
  </div>
  {% endif -%}
  {%- if url %}
  <a class="flex-stretch" href="{{ url | url }}"></a>
  {% endif -%}
</span>
{%- endmacro -%}

{%- macro card(p, language, show_date = true, ignore_tags = []) -%}
<div class="justify-center card">
  {%- if p.data.thumbnail %}
  <a class="item thumbnail" href="{{ p.url | url }}" style="background-image: url('{{ p.data.thumbnail }}')"></a>
  <div class="item spacing"></div>
  {% endif -%}
  <div class="item description">
    <a class="undecorated-link" href="{{ p.url | url }}">
      {{ card_header(p.data.title, p.data.subtitle) }}
    </a>
    {{ card_meta(show_date and p.data.date or "", p.data.tags | exclude(ignore_tags), p.url) }}
    {% set description = p.data.description[language] or p.data.description["en"] or p.data.description %}
    {% if description %}
    <a class="undecorated-link" href="{{ p.url | url }}">
      <p>{{ description }}</p>
    </a>
    {% endif %}
  </div>
</div>
{%- endmacro -%}
