{%- macro card_header(title, subtitle, tag = "h2") -%}
<{{ tag }}>
  {{ title }}
  {%- if subtitle %}
  <br />
  <span class="subtitle">{{ subtitle }}</span>
  {% endif -%}
</{{ tag }}>
{%- endmacro -%}

{%- macro card_meta(date, tags, url) -%}
<span class="card-meta">
  {%- if date %}
    {%- if url %}
  <a class="undecorated-link" href="{{ url }}">
    {% endif -%}
  {{ date | datestr }} {%- if tags.length > 1 %}&ensp; | &ensp;{%- endif -%}
    {%- if url %}
  </a>
    {% endif -%}
  {%- endif -%}
  {%- if tags.length > 1 %}
  <div>
    {%- for tag in tags %}
      {%- if tag != "article" %}
    <a class="decorated-link card-tag">{{ tag }}</a>
      {% endif -%}
    {% endfor -%}
  </div>
  {% endif -%}
  {%- if url %}
  <a class="flex-stretch" href="{{ url }}"></a>
  {% endif -%}
</span>
{%- endmacro -%}

{%- macro card(p, show_date = true) -%}
<div class="justify-center card">
  {%- if p.data.thumbnail %}
  <a class="item thumbnail" href="{{ p.url }}" style="background-image: url('{{ p.data.thumbnail }}')"></a>
  <div class="item spacing"></div>
  {% endif -%}
  <div class="item description">
    <a class="undecorated-link" href="{{ p.url }}">
      {{ card_header(p.data.title, p.data.subtitle) }}
    </a>
    {{ card_meta(show_date and p.data.date or "", p.data.tags, p.url) }}
    <a class="undecorated-link" href="{{ p.url }}">
      <p>{{ p.data.description or p.data.title }}</p>
    </a>
  </div>
</div>
{%- endmacro -%}
