---
title_key: Projects
layout: base
css:
  - /css/cards.css
---
{% from "card.njk" import card %}
<div class="justify-center flex-column">
{%- for p in projects %}
  {%- if not p.data.ignore -%}
  {{ card(p, page.lang, false) }}
  {%- endif %}
{%- endfor -%}
</div>
