---
title: Blog
layout: base
css:
  - /css/cards.css
---
{% from "card.njk" import card %}
<div class="justify-center flex-column">
{%- for a in collections.article | sort(true, false, 'date') -%}
  {%- if not a.data.ignore -%}
  {{ card(a) }}
  {%- endif %}
{%- endfor -%}
</div>
