:root {
  --card-width: 240px;
}

.card {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  align-self: center;
}
.card:not(:first-child) {
  border-top: thin solid var(--content-foreground-separator);
}

.card-meta {
  font-size: medium;
  display: flex;
  flex-direction: row;
}
.card-meta .card-tag:not(:first-child) {
  margin-left: 1ch;
}
