:root {
  --nav-foreground: white;
  --nav-background: #333;
  --nav-background-hover: black;
  --nav-background-active: #04AA6D;

  --footer-foreground: #FFFFFFAA;
  --footer-foreground-hover: white;
  --footer-background: #333;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
}

.main-nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.main-nav ul {
  display: block flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--nav-background);
}
.main-nav li {
  display: inline flex;
}
.main-nav li a {
  display: block flex;
  padding: 0.8em 1em;
  color: var(--nav-foreground);
  text-decoration: none;
  text-align: center;
}
.main-nav li a:hover {
  background-color: var(--nav-background-hover);
}
.main-nav li a.nav-active {
  background-color: var(--nav-background-active);
}

.main-content {
  margin: 8px;
}

.main-footer {
  display: flex;
  justify-content: center;
  color: var(--footer-foreground);
  background: var(--footer-background);
  padding: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.main-footer a {
  display: flex;
  justify-content: center;
  height: 32px;
  width: 48px;
}
.main-footer svg path {
  fill: var(--footer-foreground);
  transition: all 0.2s linear;
}
.main-footer a:hover svg path {
  fill: var(--footer-foreground-hover);
  transition: all 0.2s linear;
}

