:root {
  --project-card-width: 240px;
  --project-card-height: calc(var(--project-card-width) / (5 / 3));
}

.project-card {
  width: 100%;
  max-width: calc(var(--project-card-width) * 3.5);
  height: var(--project-card-height);
  color: var(--content-foreground);
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: thin solid var(--content-foreground-separator);
  align-self: center;
}
.project-card a {
  color: inherit;
  text-decoration-line: none;
}
.project-card a.decorated-link {
  text-decoration-line: underline;
}
.project-card .item {
  display: flex;
}
.project-card .thumbnail {
  flex: 0 1 var(--project-card-width);
  height: var(--project-card-height);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
}
.project-card .spacing {
  flex: 0 0 16px;
}
.project-card .description {
  flex: 1;
  flex-direction: column;
  margin: 0;
}
.description h2 {
  margin: 0;
}

@media (max-width: 496px) {
  .project-card {
    flex-direction: column;
    height: calc(var(--project-card-height) * 2);
  }
  .project-card .thumbnail {
    flex: 1;
  }
}
