---
layout: base
title: About - gilzoide
---
{% block head %}
<link rel="stylesheet" href="/css/about.css" />
{% endblock %}

<h2>
  I'm Gil Barbosa Reis, a Game Developer and Software Engineer passionate about Music, Education, User Experience (UX) and Developer Experience (DX).
</h2>

<div class="justify-center">
  <img src="/images/about-picture.jpg" alt="Portrait picture" class="portrait-picture" />
</div>
