---
layout: base
title: About
css:
  - "/css/about.css"
---
<h3>
  I'm Gil Barbosa Reis, a Game Developer and Software Engineer passionate about Music, Education, User Experience (UX) and Developer Experience (DX).
</h3>

<div class="justify-center">
  <img src="/images/about-picture.jpg" alt="Portrait picture" class="portrait-picture" />
</div>
