---
layout: base
css:
  - "/css/project.css"
---
{%- macro project_card(p) %}
<div class="justify-center project-card" href="{{ p.url }}">
  {% if p.data.thumbnail %}
  <a class="item thumbnail" href="{{ p.url }}" style="background-image: url('{{ p.data.thumbnail }}')"></a>
  {% endif %}
  <div class="item spacing"></div>
  <div class="item description">
    <a href="{{ p.url }}"><h2>{{ p.data.title }}</h2></a>
    <span class="tags">
      {%- for tag in p.data.tags -%}
        {%- if tag != "project" %}
      <a>#{{ tag }}</a>
        {% endif -%}
      {%- endfor -%}
    </span>
    <p>{{ p.data.description or p.data.title }}</p>
  </div>
</div>
{% endmacro -%}

{%- for p in collections.project %}
  {{ project_card(p) }}
{% endfor -%}
