---
title: Projects
layout: base
css:
  - /css/cards.css
---
{% from "card.njk" import card %}
<div class="justify-center flex-column">
{%- for p in projects %}
  {{ card(p, false) }}
{%- endfor -%}
</div>
